
.form-item {
  padding: 20px 0px;
  padding-left: 0;
  padding-right: 0;
}

.middle-table {
  margin-top: 30px;
  width: 100%;
}

.middle-table-col {
  border: 2px solid lightgrey;
  color: lightgrey;
}

.right-align {
  text-align: right;
  padding-right: 10px;
}

.tax-table {
  width: 100%;
  background-color: #F4F6F8;
  padding: 20px 15px;
  margin-bottom: 20px;
}

.tax-header {
  font-weight: 900;
  border-bottom: solid 2px lightgrey;
  height: 50px;
  padding-top: 20px;
  padding-left: 20px;
}

.tax-row {
  border-bottom: solid 2px lightgrey;
  height: 30px;
  padding-left: 20px;
}

.tax-first-col {
  padding-left: 20px;
}

.tax-first-col-total {
  padding-left: 20px;
  font-size: 16px;
}

.tax-last-row {
  height: 40px;
  padding-left: 20px;
}

.tax-table-row {
  border-bottom: solid 2px blue;
  background-color: #F4F6F8;
  height: 15px;
}

.close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.tax-label {
  float: right;
  padding-right: 10px;
}

.tax-value {
  text-align: right;
}

.total-label {
  text-align: right;
}